{% extends "mytele/base.html" %}

{% block title %}Entry detail{% endblock %}

{% block content %}
<a href="{% url 'index'  %}">Back to the homepage</a>
<hr/>

{% if error %}
  {{ error }}
{% else %}
  {% if message %}
  <p style="color: red;">
    {{ message }}
  </p>
  {% endif %}
  Name: <strong>{{ entry.name }}</strong><br/>
  Surame: <strong>{{ entry.surname }}</strong><br/>
  Telephone: <strong>{{ entry.telephone }}</strong><br/>
  (<a href="{% url 'edit_existing' entry_id=entry.id %}">Edit this entry</a>)
{% endif %}

{% endblock %}
