{% extends "mytele/base.html" %}

{% block title %}Entry detail{% endblock %}

{% block content %}
<a href="{% url 'index'  %}">Вернуться</a>
<hr/>

{% if error %}
  {{ error }}
{% else %}
  {% if message %}
  <p style="color: red;">
    {{ message }}
  </p>
  {% endif %}
  Имя: <strong>{{ entry.name }}</strong><br/>
  Фамилия: <strong>{{ entry.surname }}</strong><br/>
  Номер телефона: <strong>{{ entry.telephone }}</strong><br/>
  (<a href="{% url 'edit_existing' entry_id=entry.id %}">Редактировать запись</a>)
{% endif %}

{% endblock %}
