{% extends "mytele/base.html" %}

{% block title %}Добавить или редактировать запись{% endblock %}

{% block content %}
<a href="{% url 'index' %}">Вернуться</a>
<hr/>
<h1 class="title">Добавить или редактировать запись</h1>

{% if form.errors %}
<p style="color: red;">
  Please correct the error{{ form.errors|pluralize }} below.
</p>
{% endif %}

<form action="{% url 'edit' %}" method="post">
  <table style="text-align:left">
    {{ form.as_table }}
  </table>
  <input type="submit" value="Сохранить" />
  {% csrf_token %}
</form>
  
{% endblock %}
