{% extends "mytele/base.html" %}

{% block title %}Список телефонов{% endblock %}

{% block leftcontent %}
    <div>
        <ul class="prokrutka">
            {% for i in "xxxxxxxxxxxxxxxxxxxx" %}
                <li>{{ 'Петька ' }}{{ forloop.counter0 }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-4 item">
                <a href="{% url 'edit' %}" class="btn btn-outline-success my-2 my-sm-0">Добавить запись</a>
            </div>
            <div class="col-3 item"></div>
            <div class="col-5 item">
                <form method="post" action="{% url 'search' %}" class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" name="keyword" placeholder="Введите текст..."
                           aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                    {% csrf_token %}
                </form>
            </div>
            <br>
            <br>
        </div>

        {#        <div class="container">#}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Просмотр информации</th>
                <th scope="col">ТЕЛЕФОН</th>
                <th scope="col">ИМЯ</th>
                <th scope="col">E-MAIL</th>
                <th scope="col">Редкатировать запись</th>
            </tr>
            </thead>
            <tbody>

            {% for record in tel_all_records %}
                <tr> <!--class="prokrutka"-->
                <td><a href="{% url 'detail' record.id %}"
                       class="btn btn-outline-success my-2 my-sm-0">Детали</a></td>
                <td>{{ record.telephone }}</td>
                <td>{{ record.name }}</td>
                <td>{{ record.email }}</td>
                <td><a href="{% url 'edit_existing' entry_id=record.id %}"
                       class="btn btn-outline-warning my-2 my-sm-0">Редактировать</a>
                </td>
                </tr>
            {% endfor %}

            </tbody>
    </table>

    </div>

{% endblock %}