{% extends "mytele/base.html" %}

{% block title %}Search results{% endblock %}

{% block content %}
Поиск (<i>введите имя или телефонныйномер</i>):
<form method="post" action="{% url 'search' %}">
  <input type="text" name="keyword" /> <input type="submit" value="Найти" />
  {% csrf_token %}
</form>
<a href="{% url 'edit' %}">Добавить запись</a>
<hr/>

{% if keyword %}
  Результат поиска: <strong>{{ keyword }}</strong>
  <br/>
  <ul>
    {% for result in search_result %}
    <li>
      Имя: {{ result.name }}, Фамилия: {{ result.surname }}, Телефонный номер: {{ result.telephone }}
      (<a href="{% url 'detail' result.id %}">Детали</a> |
       <a href="{% url 'edit_existing' entry_id=result.id %}">Редактировать запись</a>)
    </li>
    {% endfor %}
  </ul>
{% else %}
  Ничего не найдено по введеному запросу.
{% endif %}

{% endblock %}
